body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 40px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    margin-bottom: 40px;
    color: #bbbbbb;
    font-size: 18px;
}

.stat-box {
    width: 70%;
    margin: auto;
}

.stat-row {
    margin-bottom: 25px;
}

.label {
    font-size: 18px;
    margin-bottom: 6px;
    color: #ddd;
}

/* Background of bar */
.bar-container {
    width: 100%;
    height: 20px;
    background: #222;
    border: 1px solid #444;
    border-radius: 4px;
    overflow: hidden;
}

/* The actual filled bar */
.bar-fill {
    height: 100%;
    transition: width 0.6s ease;
}

/* Pretty simple color scheme */
.bar-17 {
    background: #ff5ea8;
}

.bar-30 {
    background: #ff9a4b;
}

.bar-50 {
    background: #6ec6ff;
}

.bar-51 {
    background: #b17dff;
}

.backLink {
    text-align: center;
    margin-top: 40px;
}

.link {
    color: white;
    font-size: 18px;
}