<!DOCTYPE html>
<html>

<head>
    <title>Your Nostalgia Era</title>
    <style>
        body {
            background: black;
            color: white;
            text-align: center;
            padding-top: 150px;
            font-family: Arial;
        }

        .eraBox {
            font-size: 40px;
            padding: 30px;
            border: 3px solid magenta;
            display: inline-block;
        }

        a {
            color: cyan;
        }
    </style>
</head>

<body>

    <div class="eraBox">
        Your Nostalgia Era: <b>{{ era }}</b>
    </div>
    <p>
    <p><a href="/screen/{{ era }}">Enter Your Nostalgia Space</a></p>
    </p>
    <p><a href="/stats">View Community Stats</a></p>

    <p><a href="/quiz">Retake Quiz</a></p>

</body>

</html>